<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body style="background-color:LightCoral;text-align:center">
<h2>Registration</h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="user name" vspace="7px"><br>
    <input type="text" name="first_name" placeholder="first name" vspace="7px"><br>
    <input type="text" name="last_name" placeholder="last name" vspace="7px"><br>
    <input type="email" name="email" placeholder="email" vspace="7px"><br>
    <input type="password" name="password" placeholder="password" vspace="7px"><br>
    <input type="password" name="password1" placeholder="confirm password" vspace="7px"><br>
    <input style="background-color:blue;color:white" type="submit" vspace="7px">

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>